# ignore everything...
/*
# ...except these folders/files
!/datapacks/
!/resourcepack/
!/resourcepack.zip
!/project_assets/
!.gitignore
!/world_files/
!/.github/workflows
DIM-1/data/raids.dat
*.dat
DIM1/data/raids_end.dat
